<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Aritz Lamelas" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="ingreso.css" />
    <title>TopEducation | Ingreso</title>
</head>
<body>
<div class="container">
    <form id="ingresar">
        <section class="h-100 h-custom" style="background-color: #d0312d;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                                 class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                                 alt="Sample photo">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Ingreso de estudiante</h3>

                                <form class="px-md-2">
                                    <div class = "row">
                                        <div class="form-outline mb-4">
                                            <label for="nombre">  </label>
                                            <input type="text" placeholder= "Nombre(s)" title="Indique su nombre" id="nombre" name="nombre" pattern="[a-zA-Z]{3,}" required>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="apellidos">  </label>
                                            <input type="text" placeholder = "Apellidos" title="Indique sus apellidos" id="apellidos" name="apellidos" required>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="rut">  </label>
                                        <input type="text" placeholder = "RUT" title="Indique un RUT existente" id="rut" name = "rut" pattern="\d{3,8}-[\d|kK]{1}" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="fecha">  </label>
                                        <input type="date" placeholder= "Fecha de nacimiento" title="Indique su fecha de nacimiento" id="fecha" name="fecha" onkeydown="return false" required>
                                    </div>

                                    <div class = "row">
                                        <div class="form-outline mb-4">
                                            <label for="NombreColegio">  </label>
                                            <input type="text" placeholder= "Nombre del colegio" title="Indique el nombre del colegio procedente" id="NombreColegio" name="NombreColegio" pattern="[a-zA-Z]{3,}" required>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <label for="colegio"> Tipo: </label>
                                            <select id="colegio" name="colegio" required>
                                                <option value="TipoColegio" disabled>Tipo colegio</option>
                                                <option value="Municipal">Municipal</option>
                                                <option value="Subvencionado">Subvencionado</option>
                                                <option value="Privado">Privado</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="añoEgreso">  </label>
                                        <input placeholder="Año" title="Indique el año de egreso del colegio" type="number" id="añoEgreso" name="añoEgreso" min="1900" max="2024" required>
                                    </div>

                                    <!--<button type="submit" href="pagos.html" id="boton-ingresar" class="btn btn-outline-danger">Ingresar</button>-->
                                    <a class="btn btn-outline-danger" href="pagos.html" role="button">Ingresar</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>